:root{
  --primary-light: #465A65;
  --primary-dark: #1C313A;
  --secondary-light:#2A60FE;
  --secondary-dark:#0039CB;
  --red-dark: #9A0007;
  --red-light:#D22E2D;
  --gray-dark: #AEAEAE;
  --gray-light:#E0E0E0;
}

header {
  border-bottom: 1px solid var(--gray-light);
}

.header_right a {
   text-decoration: none;
   outline: none;
}

.header_right i:hover {
  color: var(--red-dark);
}

.header_right i {
  color: var(--primary-dark);
  font-size: 1.6rem;
  
 
}

.mobile_nav i {
  color: var(--primary-dark);
  font-size: 1.4rem;
  cursor: pointer;
  display: none;
}

.menu {
  display: flex;
  align-items: center;
  column-gap: 2.6rem;
  padding: 8px;
}

.nav_list {
  color: var(--primary-dark);
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  line-height: 24px;
  transition: .3s;
  outline: none;
}

.nav_list:hover {
  color: var(--red-dark);
}

.nav_active {
  color: var(--red-dark);
}

/* 
header img {
  width: 170px;
}

header a {
  margin-left: 30px;
  transition: 0.5s;
  font-weight: 500;
}
header a:hover {
  color: var(--primary-dark);
  border: none;
}

header .toggle {
  display: none;
} */