.home_page {
  /* background: #e9ebee; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.layoutContainer {
  /* background: #e9ebee; */
  display: flex;
  justify-content: center;
  align-items: center;
}