.BorderedForm {
}
.FormTray {
  display: flex;
  margin-bottom: 20px;
  align-items: center;

}

.FormItem {
  margin-bottom: 20px;
  padding-right: 20px;
}
.FormItem label.FormLabel {
  display: block;
  font-weight: 600;
}
.FormItem p.FormAdvice {
  color: rgb(58, 110, 165);
  font-weight: 400;
  font-size: 90%;
  margin: 0;
  padding: 0;
}
.FormItem select, .FormItem input {
  width: 100%;
  padding: 3px;
  margin: 1px 0;
  font-size: 100%;
  border-radius: 0px;
  border: 1px solid rgb(192, 192, 192);
  background: White;
}
.FormItem select::-moz-placeholder, .FormItem input::-moz-placeholder {
  color: Grey;
  font-weight: 300;
}
.FormItem select::placeholder, .FormItem select:disabled, .FormItem input::placeholder, .FormItem input:disabled {
  color: Grey;
  font-weight: 300;
}
.FormItem select:hover, .FormItem select:focus, .FormItem input:hover, .FormItem input:focus {
  outline-width: 1px;
  outline-color: red;
  outline-style: solid;
  border-width: 1px;
  border-style: solid;
}
.FormItem select:hover, .FormItem input:hover {
  border-color: rgb(209, 69, 50);
  outline-color: rgb(192, 192, 192);
}
.FormItem select:focus, .FormItem input:focus {
  border-color: rgb(58, 110, 165);
  outline-color: rgb(58, 110, 165);
}
.FormItem select[type=number], .FormItem input[type=number] {
  text-align: left;
}
.FormItem select.FormError, .FormItem input.FormError {
  border-color: rgb(58, 110, 165);
  outline-color: rgb(58, 110, 165);
}
.FormItem p.FormError {
  color: rgb(209, 69, 50);
  font-weight: 400;
  font-size: 90%;
  margin: 0;
}

.search_btn {
  display: inline-block;
  background-color: rgb(40, 40, 66);
  color:rgb(235, 235, 235);
  border: none;
  padding: 10px 25px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  max-height: 40px;
}
.search_btn:focus {
  outline: none;
}
.search_btn:active {
  transform: scale(0.98);
}
